body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; 
    position: relative;
    background-color: #f0f0f0;
    background-attachment: fixed;
}

.background-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.background-image.bg1 {
    opacity: 1;
}



.logo-container {
    position: fixed;
    height: 100vh;
    width: 20%;
    left: 0;
    top: 0;
}

.logo-circle {
    width: 300px;
    height: 110%;
    background-color: #1A292F;
    border-radius: 0 100% 100% 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
}

.logo-logo {
    width: 120px;
    position: relative;
    padding: 0 40px;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.logo-text {
    width: 100px;
    position: relative;
    padding: 0 40px;
    top: 42%;
    left: 45%;
    transform: translate(-50%, -50%);
}



.welcome-text {
    color: #F5F5DC;
    font-family: 'Lucida Handwriting', 'Courier New', Courier, monospace;
    font-size: 24px;
    text-align: center;
    z-index: 2;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #1A292F;
    animation: flow 3s infinite alternate;
    display: block; 
    width: fit-content; 
    max-width: 80%; 
    position: relative;
    margin-left: auto; 
    margin-right: auto; 
    top: 150px
}

.announcement-container {
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(245, 245, 220, 0.7);
    z-index: 2;
    text-align: left;
    width: 80%;
    max-width: 600px; 
    height: 300px; 
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    font-family: Arial, sans-serif; 
    margin-left: auto; 
    margin-right: auto; 
    position: relative;
    border: 5px solid #1A292F; 
}

.announcement-container h2 {
    font-family: 'Lucida Handwriting', 'Courier New', Courier, monospace; 
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #333; 
    padding-bottom: 10px;
}

.announcement-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.announcement-item {
    margin: 10px 0;
    color: #333;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: flex;
    align-items: center;
}

.announcement-link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    flex: 1; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.announcement-link:hover {
    text-decoration: underline;
}

.announcement-time {
    color: #666;
    margin-left: 10px; 
    white-space: nowrap; 
}



.bt-container {
    position: fixed;
    height: 100vh;
    width: 20%;
    right: 0;
    top: 0;
}

.bt-circle {
    width: 300px;
    height: 110%;
    background-color: #1A292F;
    border-radius: 100% 0 0 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes flow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.logout-container {
    position: absolute;
    top: 120px;
    right: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}

.button.small-button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    font-family: Arial, sans-serif;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

.pagination span {
    font-weight: bold;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: rgba(245, 255, 240, 0.712);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; 
    border-radius: 10px; 
    text-align: center;
    word-wrap: break-word; 
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#confirmLogoff {
    background-color: #f44336; 
    color: white;
}

#cancelLogoff {
    background-color: #aaa; 
    color: white;
}


.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    z-index: 2;
}

.button {
    width: 200px;
    height: 80px;
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    position: relative;
    animation: float 6s infinite ease-in-out;
    overflow: hidden;
}

.button:before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
    transform: rotate(45deg);
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

.button:hover:before {
    opacity: 0.8;
}

.button:hover {
    animation-play-state: paused;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.button:nth-child(1) {
    left: 40px;
    color: #F5F5DC;
    background-color: #063C46;
    animation-delay: 0s;
}

.button:nth-child(2) {
    left: 15px;
    color: #F5F5DC;
    background-color: #063C46;
    animation-delay: 0.8s;
}

.button:nth-child(3) {
    color: #F5F5DC;
    background-color: #063C46;
    animation-delay: 1.6s;
}

.button:nth-child(4) {
    left: -5px;
    color: #F5F5DC;
    background-color: #063C46;
    animation-delay: 2.4s;
}

.button:nth-child(5) {
    color: #F5F5DC;
    background-color: #063C46;
    animation-delay: 3.2s;
}

.button.small-button:nth-child(6) {
    left: 15px;
    color: #F5F5DC;
    background-color: #9d1616;
}

.button.small-button:nth-child(7) {
    left: 40px;
    color: #F5F5DC;
    background-color: rgba(3, 3, 3, 0.186);
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}

.button.pop {
    animation: pop 0.4s forwards;
    background-color: rgba(255, 255, 255, 0);
}

.button.pop:before {
    display: none;
}
