body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.return-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.return-button img {
    width: 100%;
    height: 100%;
}

.search-container {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
    font-family: 'Lucida Handwriting', 'Courier New', Courier, monospace;
    animation: flow 3s infinite alternate;
    margin-top: 50px;
    margin-bottom: 20px;
}

.search-container h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.search-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-container input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-container input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1A292F;
    color: #F5F5DC;
    font-size: 16px;
    cursor: pointer;
}

.search-container input[type="submit"]:hover {
    background-color: #34515E;
}

.book-info {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
    font-family: 'Lucida Handwriting', 'Courier New', Courier, monospace;
    /* animation: flow 3s infinite alternate; */
    overflow-y: auto; /* 允许垂直滚动 */
    max-height: 50vh; /* 设置最大高度 */
}

.book-info h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.book-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-info th, .book-info td {
    border: 1px solid #F5F5DC;
    padding: 8px;
    text-align: left;
}

.book-info th {
    background-color: #F5F5DC;
    color: black;
}

.book-info tr:hover {
    background-color: #E0E0D1;
}

.book-info .button {
    background-color: #1A292F;
    color: #F5F5DC;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.book-info .button.disabled {
    background-color:  #839192;
    color: #F5F5DC;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}

@keyframes flow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* 在动画的中间位置向上移动5像素 */
    }
    100% {
        transform: translateY(0);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
