<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>书籍列表</title>  
    <style>  
        /* ... 你的CSS样式 ... */  
    </style>  
</head>  
<body>  
    <h1>书籍列表</h1>  
    <ul id="book-list">  
        {% for item in result %}
		<li>书号：{{item[0]}} 书名：{{item[1]}} 类别：{{item[2]}} 作者：{{item[3]}} 出版社：{{item[4]}} 出版时间：{{item[5]}} 入库时间：{{item[6]}}
		<form action="/borrow2" method="get" class="book-action-form">  
                <input type="hidden" name="book_id" value="{{item[0]}}">  
                {% if item[7] == 0 %}  
                    <button type="submit" class="button">借阅</button>  
                {% else %}  
                    <span class="button disabled">已被借出</span>  
                {% endif %}  
           	</form>
	   	</li>
	{% endfor %}
    </ul>  
</body>  
</html>