<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>借阅信息确定</title>  
</head>  
<body>  
    <h1>请选择借阅的天数</h1>  
    <form id="numberForm" action="/borrow2" method="post">  
	<input type="hidden" name="book_id" value="{{bookid}}">
        <label for="number">可借阅1天到30天:</label>  
        <select id="number" name="number" required>  
            <script>  
                var select = document.getElementById('number');  
                for (var i = 1; i <= 30; i++) {  
                    var option = document.createElement('option');  
                    option.value = i.toString(); 
                    option.text = i.toString();
                    select.appendChild(option);
                }  
            </script>  
        </select>  
        <input type="submit" value="提交">  
    </form>  
</body>  
</html>