 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>登录成功页面</title>
     <link rel="stylesheet" href="../static/css/index_ad.css">
 </head>
 <body>
     <div class="background-image bg1"></div>
     <div class="background-image bg2"></div>
 
     <div class="header-container">
         <h1 class="header">Library Management System Homepage</h1>
     </div>
 
     <div class="welcome-text">welcome back, {{username}}!</div>
 
     <div class="logout-container">
         <a href="/logout" class="button small-button" id="btn1">退出登录</a>
         <a href="#" class="button small-button" id="btn2">注销</a>
     </div>
 

    <!-- 确认注销的模态窗口 -->
    <div id="logoffModal" class="modal">
        <div class="modal-content">
            <span class="close" id="logoffClose">&times;</span>
            <h2>确定要注销吗？</h2>
            <button id="confirmLogoff">确定</button>
            <button id="cancelLogoff">取消</button>
        </div>
    </div>

     <div class="button-container">
         <a href="/announcement" class="button" id="btn1">发布公告</a>
         <a href="/addbook" class="button" id="btn2">上架书籍</a>
         <a href="/search_ad" class="button" id="btn3">下架书籍</a>
         <a href="/return" class="button" id="btn4">还书</a>
         <a href="/sign" class="button" id="btn5">签到管理</a>
     </div>
 
     <script src="../static/js/index_bg.js"></script>
     <script src="../static/js/button_effect.js"></script>
     <script src="../static/js/logoff.js"></script>
 </body>
 </html>
 