<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <script src="../static/js/register.js" type="text/javascript"></script>
    <script src="../static/js/login_bg.js"></script> <!-- 引用背景更换的JS -->
 
</head>
<body>
 
<div class="background-image bg1"></div>
<div class="background-image bg2"></div>


<div class="login-box-container">
    <div class="login-box">
        <h2>入口</h2>
        <form action="/adlogin" method="post">
            <div class="login-field">
                <span style="color: aqua; size: 12px">管理员号</span>
                <input type="text" name="account" required=""/>
            </div>
            <div class="login-field">
                <spqn style="color: aqua; size: 12px">密码</spqn>
                <input type="password" name="password" required=""/>
            </div>
            <input type="submit" value="点击进入" id="myloginlabel">
            <p style="color: #101113">没有账号？<a href="./adregister" style="color: rgba(22,180,166,0.58)" onclick="topggleForm();">注册</a>
            <a href="./login" style="color: rgba(22,180,166,0.58)" onclick="topggleForm();">以用户身份登录</a>
            </p>
        </form>
    </div>
</div>
</body>
</html>