<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>个人信息页面</title>  
    <style>  
    </style>  
</head>  
<body>  
  
<h1>个人信息</h1>  
  
<div class="user-info">  
    <div>  
        <label>用户号:</label>  
        <span id="user-id">{{userid}}</span>  
    </div>  
    <div>  
        <label>用户名:</label>  
        <span id="username">{{username}}</span>  
    </div>  
    <div>  
        <label>信用值:</label>  
        <span id="credit-score">{{usercredit}}</span>  
    </div>  
</div>  
  
  
</body>  
</html>