<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/general_login.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/general.css"/>
    <script src="../static/js/register.js" type="text/javascript"></script>
    <script src="../static/js/login_bg.js"></script>
 
</head>
<body>


<div class="background-image bg1"></div>
<div class="background-image bg2"></div>

<div class="logo-container">
    <div class="logo-circle">
        <img src="../static/images/LOGO.png" class="logo-logo">
        <img src="../static/images/LOGO_JZXM.png" class="logo-text">
    </div>
</div>

<div class="login-box-container">
    <div class="login-box">
        <h2>注册</h2>
        <form action="/adregister" method="post">
            <div class="login-field">
                <span style="color: #1A292F; size: 12px">管理员名</span>
                <input type="text" name="name" required=""/>
            </div>
            <div class="login-field">
                <spqn style="color: #1A292F; size: 12px">密码</spqn>
                <input type="password" name="password" required=""/>
            </div>
            <div class="login-field">
                <spqn style="color: #1A292F; size: 12px">确认密码</spqn>
                <input type="password" name="repassword" required=""/>
            </div>
            <div class="login-field">
                <spqn style="color: #1A292F; size: 12px">邀请码</spqn>
                <input type="manager_word" name="manager_word" required=""/>
            </div>
            <input type="submit" value="提交" id="submit-button">
            <p style="color: #1A292F">
                已有账号？
                <a href="./adlogin" class="link admin-login" onclick="toggleForm();"><strong>登录</strong></a>
            </p>
        </form>
    </div>
</div>
</body>
</html>