<!-- <!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>预约信息页面</title>  
    <style>  
    </style>  
</head>  
<body>  
  
<h1>我的预约</h1>  
  
<div class="user-info">  
    <div>  
        <label>预约记录1:</label>  
        <span id="info">{{info1}}</span>  
        {% if length >= 1 %}  
            <a href="/seatend?id={{id_list[0]}}" class="button">提前结束</a> 
        {% endif %} 
    </div>  
    <div>  
        <label>预约记录2:</label>  
        <span id="info">{{info2}}</span>  
        {% if length >= 2 %}  
            <a href="/seatend?id={{id_list[1]}}" class="button">提前结束</a> 
        {% endif %} 
    </div>  
    <div>  
        <label>预约记录3:</label>  
        <span id="info">{{info3}}</span> 
        {% if length >= 3 %}  
            <a href="/seatend?id={{id_list[2]}}" class="button">提前结束</a> 
        {% endif %} 
    </div>  
</div>  
  
  
</body>  
</html> -->




<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>预约信息页面</title>  
    <link rel="stylesheet" href="../static/css/reserve_info.css">
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>  
<body>  

<div class="background-image"></div>

<div class="overlay"></div>

<div class="sidebar">
    <img src="../static/images/LOGO.png" alt="LOGO" class="logo">
    <img src="../static/images/LOGO_ABEX.png" alt="LOGO_ABEX" class="logo-abex">
    <a href="/index"><i class="fas fa-home"></i> 主页</a>
    <a href="/personal_info"><i class="fas fa-user"></i> 查询个人信息</a>
    <a href="/borrow_info"><i class="fas fa-book"></i> 查询借阅信息</a>
    <a href="/search"><i class="fas fa-search"></i> 借书</a>
    <a href="/reserve"><i class="fas fa-chair"></i> 预约座位</a>
    <a href="/reserve_info"><i class="fas fa-info-circle"></i> 查询预约信息</a>
</div>

<div class="body-content">
<div class="user-info">  
    <h2>我的预约</h2>
    <div>  
        <label>预约记录1:</label>  
        <span id="info">{{info1}}</span>  
        {% if length >= 1 %}  
            <a href="/seatend?id={{id_list[0]}}" class="button">提前结束</a> 
        {% endif %} 
    </div>  
    <div>  
        <label>预约记录2:</label>  
        <span id="info">{{info2}}</span>  
        {% if length >= 2 %}  
            <a href="/seatend?id={{id_list[1]}}" class="button">提前结束</a> 
        {% endif %}  
    </div>  
    <div>  
        <label>预约记录3:</label>  
        <span id="info">{{info3}}</span>  
        {% if length >= 3 %}  
            <a href="/seatend?id={{id_list[2]}}" class="button">提前结束</a> 
        {% endif %}  
    </div>  
</div>
</div>

</body>  
</html>
